@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
input:focus{
  background-color: green;
}
img:hover{
  transform: scale(1.3);
  transition: all .5s ease-in-out;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  position:relative;
  left:300px;
}
.sidebar{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d4d4d;
  overflow-x: auto;
  padding-top: 100px;
}
p.link {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: #a6a6a6;
  transform: scale(5);
  transition: all .2s ease-in-out;
}
div.static{
  position: relative;
  left: 300px;
}
h1 {
   text-align: center;
   position: relative;
   right: 500px;
   top: 200px;
   
   
}
.dropdown{
   font-size: 50px;
   position: relative;
   display: block;
}
.dropdown-content{
  display:none;
  position: absolute;
  background: green;
  min-width: 400px;
  padding: 12px 16px;
  z-index: 100;
  
}
*{
  auto-expand:100%;
}
.dropdown:hover .dropdown-content {
  display:block;
}
.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  position:absolute;
  left: 700px;
  top: -100px;
